{% load app i18n static wagtailcore_tags wagtailuserbar %}
<!DOCTYPE html>
<html
  lang="{{ LANGUAGE_CODE }}"
  dir="{% if LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %}"
  data-theme="{% block theme %}luxury{% endblock %}"
>
  {% get_site_root as home %}
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% trans 'Wagtail App' %}{% endblock %}</title>
    {% block meta %}{% endblock %}

    <!---->
    {% block styles %}
    <link
      href="{% static 'wagtail_blocks/css/styles.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'app/css/styles.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/github-dark.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
    {% endblock %}
    <!---->

    {% endblock %}
  </head>

  <body class="font-sans antialiased">
    {% wagtailuserbar %}

    <div class="drawer">
      <input id="nav-drawer" type="checkbox" class="drawer-toggle" />

      <section id="content" class="drawer-content">
        <div
          id="main"
          class="bg-base-300 relative h-dvh overflow-hidden sm:p-1 lg:p-2"
        >
          <div class="flex size-full items-center gap-1">
            <section
              class="bg-base-100 relative size-full grow overflow-hidden sm:rounded-box"
            >
              <section class="size-full grid gap-4 overflow-y-auto">
                <!-- Navbar -->
                {% block navbar %}
                <header
                  class="absolute inset-x-0 top-0 z-40 px-2 backdrop-blur-3xl lg:px-4"
                >
                  <nav class="navbar py-4">
                    <ol class="navbar-start gap-4">
                      <li
                        class="tooltip tooltip-right rtl:tooltip-left tooltip-primary z-10"
                        data-tip="{% trans 'Open drawer' %}"
                      >
                        <label
                          for="nav-drawer"
                          aria-label="{% trans 'close sidebar' %}"
                          class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                        >
                          <i data-lucide="menu" class="size-4 md:size-6"></i>
                          <span class="sr-only">
                            {% trans 'Open drawer' %}
                          </span>
                        </label>
                      </li>

                      {% block branding %}
                      <li
                        class="tooltip tooltip-right rtl:tooltip-left tooltip-primary"
                        data-tip="{% trans 'Wagtail App' %}"
                      >
                        <h1 class="relative">
                          <a
                            href="{% pageurl home %}"
                            class="btn btn-square btn-primary lg:btn-lg"
                          >
                            <div
                              class="btn btn-square btn-primary rotate-45 p-0 shadow-none lg:btn-lg"
                            >
                              <i
                                data-lucide="app"
                                class="-rotate-45 lg:size-8 2xl:size-10"
                              ></i>
                            </div>
                            <span class="sr-only">
                              {% trans 'Wagtail App' %}
                            </span>
                          </a>
                        </h1>
                      </li>
                      {% endblock %}
                    </ol>

                    <ol class="navbar-center gap-2">
                      {% block navbar_center %}{% endblock %}
                    </ol>

                    <ol class="navbar-end gap-2">
                      {% block navbar_end %}
                      <li
                        class="tooltip tooltip-left rtl:tooltip-right tooltip-primary"
                        data-tip="{% trans 'Search' %}"
                      >
                        <a
                          href="{% url 'app:search' %}"
                          class="btn btn-square btn-soft btn-sm btn-primary md:btn-md 2xl:btn-lg"
                        >
                          <i data-lucide="search" class="size-4 md:size-6"></i>
                          <span class="sr-only">{% trans 'Search' %}</span>
                        </a>
                      </li>
                      {% endblock %}
                    </ol>
                  </nav>
                </header>
                {% endblock %}

                <!---->
                {% block content %}
                <div class="container flex flex-col gap-8 px-4 py-20 mx-auto">
                  <div
                    class="mx-auto prose prose-sm prose-video:rounded-box xl:prose-lg 2xl:prose-xl prose-headings:text-primary prose-img:rounded-box prose-img:w-full"
                  >
                    <h1>{% trans 'Wagtail App' %}</h1>

                    <p>
                      {% blocktrans trimmed %}A Wagtail CMS app template with
                      dependency management and DevOps best practices for devs.
                      {% endblocktrans %}
                    </p>
                  </div>

                  <ol class="grid grid-cols-12 gap-4">
                    <li
                      role="article"
                      class="card bg-base-100 hover:bg-base-200 border border-base-300 card-sm md:card-md xl:card-lg 2xl:card-xl col-span-12 size-full shadow-sm md:col-span-6 lg:col-span-4 2xl:col-span-3"
                    >
                      <a
                        href="https://github.com/youzarsiph/wagtail-app"
                        class="absolute inset-0"
                      >
                        <span class="sr-only">{% trans 'Docs' %}</span>
                      </a>

                      <div class="card-body justify-end">
                        <h2 class="card-title text-primary">
                          <i
                            data-lucide="book-text"
                            class="size-4 md:size-6"
                          ></i>
                          {% trans 'Docs' %}
                        </h2>

                        <p class="grow-0">
                          {% trans 'Get started with Wagtail App' %}
                        </p>
                      </div>
                    </li>
                    <li
                      role="article"
                      class="card bg-base-100 hover:bg-base-200 border border-base-300 card-sm md:card-md xl:card-lg 2xl:card-xl col-span-12 size-full shadow-sm md:col-span-6 lg:col-span-4 2xl:col-span-3"
                    >
                      <a
                        href="https://github.com/youzarsiph/wagtail-app#Contributing"
                        class="absolute inset-0"
                      >
                        <span class="sr-only">{% trans 'Contribute' %}</span>
                      </a>

                      <div class="card-body justify-end">
                        <h2 class="card-title text-primary">
                          <i
                            data-lucide="folder-git-2"
                            class="size-4 md:size-6"
                          ></i>
                          {% trans 'Contribute' %}
                        </h2>

                        <p class="grow-0">
                          {% blocktrans trimmed %}Please refer to our
                          CONTRIBUTING guide{% endblocktrans %}
                        </p>
                      </div>
                    </li>
                    <li
                      role="article"
                      class="card bg-base-100 hover:bg-base-200 border border-base-300 card-sm md:card-md xl:card-lg 2xl:card-xl col-span-12 size-full shadow-sm md:col-span-6 lg:col-span-4 2xl:col-span-3"
                    >
                      <a
                        href="https://github.com/youzarsiph/wagtail-app/issues"
                        class="absolute inset-0"
                      >
                        <span class="sr-only">{% trans 'Support' %}</span>
                      </a>

                      <div class="card-body justify-end">
                        <h2 class="card-title text-primary">
                          <i
                            data-lucide="heart-handshake"
                            class="size-4 md:size-6"
                          ></i>
                          {% trans 'Support' %}
                        </h2>

                        <p class="grow-0">
                          {% blocktrans trimmed %}For inquiries or support,
                          please open an issue{% endblocktrans %}
                        </p>
                      </div>
                    </li>
                  </ol>
                </div>
                {% endblock %}

                <!---->
                {% block footer %}{% endblock %}
              </section>
            </section>
          </div>
        </div>
      </section>

      <section id="sidebar" class="drawer-side z-50">
        <label
          for="nav-drawer"
          aria-label="{% trans 'close sidebar' %}"
          class="drawer-overlay"
        ></label>

        <section
          class="bg-base-100/75 md:min-w-xs lg:min-w-sm xl:min-w-md 2xl:min-w-lg dark:bg-base-100/50 flex size-full flex-col justify-between overflow-hidden overflow-y-auto backdrop-blur-3xl sm:w-10/12 md:w-8/12 lg:w-1/3 2xl:w-1/4"
        >
          <div class="grid">
            <div class="grid gap-4 p-4">
              <header class="flex items-center justify-between gap-4">
                {% block drawer_branding %}
                <div
                  class="tooltip tooltip-right rtl:tooltip-left tooltip-primary tooltip-open aspect-square"
                  data-tip="{% trans 'Wagtail App' %}"
                >
                  <h1 class="relative">
                    <a
                      href="{% pageurl home %}"
                      class="btn btn-square btn-primary lg:btn-lg"
                    >
                      <div
                        class="btn btn-square btn-primary rotate-45 p-0 shadow-none lg:btn-lg"
                      >
                        <i
                          data-lucide="app"
                          class="-rotate-45 lg:size-8 2xl:size-10"
                        ></i>
                      </div>
                      <span class="sr-only"> {% trans 'Wagtail App' %} </span>
                    </a>
                  </h1>
                </div>
                {% endblock %}

                <div
                  class="tooltip tooltip-left rtl:tooltip-right hover:tooltip-error"
                  data-tip="{% trans 'Close' %}"
                >
                  <label
                    for="nav-drawer"
                    aria-label="{% trans 'close sidebar' %}"
                    class="btn btn-square btn-soft btn-sm btn-primary hover:btn-error md:btn-md 2xl:btn-lg"
                  >
                    <i data-lucide="x" class="size-4 md:size-6"></i>
                    <span class="sr-only">{% trans 'Close' %}</span>
                  </label>
                </div>
              </header>

              <form
                method="get"
                class="join w-full"
                action="{% url 'app:search' %}"
              >
                <label
                  class="join-item w-full bg-transparent input input-primary"
                >
                  <i
                    data-lucide="search"
                    class="size-4 text-primary md:size-6"
                  ></i>
                  <input
                    required
                    type="search"
                    name="search"
                    class="grow placeholder-primary"
                    placeholder="{% trans 'Search' %}"
                  />
                </label>

                <button
                  type="submit"
                  class="btn join-item btn-square btn-soft btn-primary"
                >
                  <i data-lucide="check-circle2" class="size-4 md:size-6"></i>
                  <span class="sr-only">{% trans 'Search' %}</span>
                </button>
              </form>
            </div>

            <ol class="menu 2xl:menu-lg size-full grow gap-2 overflow-y-auto">
              {% block drawer_content %}
              <li>
                <a href="{% pageurl home %}">
                  <i data-lucide="home" class="size-4 md:size-6"></i>
                  {% trans 'Home' %}
                </a>
              </li>
              <li>
                <a href="https://github.com/youzarsiph/wagtail-app">
                  <i data-lucide="folder-git-2" class="size-4 md:size-6"></i>
                  {% trans 'Repo' %}
                </a>
              </li>
              {% for page in home.get_children %}
              <li>
                <a href="{% pageurl page %}">{{ page }}</a>
              </li>
              {% endfor %}
              <!---->
              {% endblock %}
            </ol>
          </div>

          <ol class="grid gap-4 p-4">
            {% block drawer_bottom %}{% endblock %}
          </ol>
        </section>
      </section>
    </div>

    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      lucide.createIcons();
    </script>
  </body>
</html>
