{% extends 'ui/base.html' %}{% load i18n %}

<!---->
{% block title %}{{ block.super }} | {{ contact.title }}{% endblock %}

<!---->
{% block content %}
<section class="container mx-auto grid gap-8 px-4 py-20">
  {% block message %}{% endblock %}

  <div
    class="prose mx-auto prose-sm prose-video:rounded-box xl:prose-lg 2xl:prose-xl prose-headings:text-primary prose-img:rounded-box prose-img:w-full"
  >
    <h1>{{ contact.title }}</h1>
    {{ contact.content }}
  </div>

  {% block form %}
  <div>{% include 'ui/components/form.html' %}</div>
  {% endblock %}
</section>
{% endblock %}
