{% extends 'ui/contact.html' %}{% load i18n wagtailcore_tags %}

<!---->
{% block message %}
<div role="alert" class="alert alert-soft alert-success">
  <div
    class="tooltip tooltip-right rtl:tooltip-left tooltip-success"
    data-tip="{% trans 'Success' %}"
  >
    <span class="btn btn-xs btn-circle btn-success md:btn-sm">
      <i class="size-4 lg:size-6" data-lucide="check-circle2"></i>
      <span class="sr-only">{% trans 'Success' %}</span>
    </span>
  </div>

  {{ contact.message|richtext }}
</div>
{% endblock %}

<!---->
{% block form %}{% endblock %}
