{% extends 'rest_framework/base.html' %}{% load i18n %}

<!---->
{% block userlinks %}
<li class="tooltip tooltip-right tooltip-primary" data-tip="{% trans 'Home' %}">
  <a href="/api/" class="btn btn-square btn-soft btn-primary">
    <i data-lucide="home" class="size-4 lg:size-6"></i>
    <span class="sr-only">{% trans 'Home' %}</span>
  </a>
</li>
<li
  class="tooltip tooltip-right tooltip-primary"
  data-tip="{% trans 'Pages' %}"
>
  <a href="/api/pages/" class="btn btn-square btn-soft btn-primary">
    <i data-lucide="file-text" class="size-4 lg:size-6"></i>
    <span class="sr-only">{% trans 'Pages' %}</span>
  </a>
</li>
<li
  class="tooltip tooltip-right tooltip-primary"
  data-tip="{% trans 'Images' %}"
>
  <a href="/api/images/" class="btn btn-square btn-soft btn-primary">
    <i data-lucide="images" class="size-4 lg:size-6"></i>
    <span class="sr-only">{% trans 'Images' %}</span>
  </a>
</li>
<li
  class="tooltip tooltip-right tooltip-primary"
  data-tip="{% trans 'Documents' %}"
>
  <a href="/api/documents/" class="btn btn-square btn-soft btn-primary">
    <i data-lucide="book-text" class="size-4 lg:size-6"></i>
    <span class="sr-only">{% trans 'Documents' %}</span>
  </a>
</li>
{% endblock %}
